.home-page {
  text-align: center;
}

.home-page-trending-movies-body {
  width: 80%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

.home-page-title {
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
}
