.search-page {
  text-align: center;
}

.search-box {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .search-box {
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  .search-box input[type="text"] {
    margin-bottom: 1rem;
  }
}

.search-box input[type="text"] {
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 16pt;
  border-color: gray;
  width: 80%;
}

.search-results-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-results-placeholder {
  margin: 2rem auto;
}

.search-mode-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
  margin: auto;
}

.search-toggle-section {
  margin: 1rem auto;
}

.search-result-nav-buttons {
  width: 300px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin: auto;
}
