.trending-posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.trending-see-more {
  text-align: center;
}

.trending-filter {
  text-align: center;
}

.trending-type-toggle {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin: auto;
  justify-content: space-between;
}
