.copyright {
  width: 75%;
  margin: auto;
  min-width: 250px;
  text-align: center;
}

.copyright a {
  color: black;
}

.copyright a:hover {
  color: red;
  cursor: pointer;
}

.copyright a:visited {
  color: rebeccapurple;
}
